@import url(../shared.css);

#plans > li, #rooms > li {
	margin-bottom: 1rem;
}

li ul {
	padding-left: 0;
}

button.add {
	color: #888;
	font-size: 1.5rem;
	line-height: 1rem;
	background: transparent;
	border: none;
	vertical-align: middle;
}

button.add:hover {
	color: #080;
}

button.del {
	color: #888;
	font-size: 1.5rem;
	line-height: 1rem;
	background: transparent;
	border: none;
	vertical-align: middle;
	width: 1.5rem;
}

button.del:hover {
	color: #f00;
}

label > button.add:last-child {
	margin-right: -2rem;
	padding: 0 0.5rem;
}

#rooms i {
	margin-left: 1.5rem;
	display: inline-block;
}

.in-editor {
	font-weight: bold;
}

input {
	margin: 0;
}

input[type="number"] {
	width: 100px;
	text-align: right;
}

input[type="number"].mini {
	width: 50px;
}

.field {
	line-height: 1.5rem;
	margin-bottom: 0.25rem;
}

.field:after {
	display: table;
	content: '';
	clear: left;
}

.field > label:not(.inline) {
	float: left;
	width: 300px;
	text-align: right;
	font-weight: bold;
	padding-right: 0.5rem;
	word-wrap: break-word;
}

.field > br, .field > p, .field > .field {
	clear: left;
}

.field > :not(p) + p {
	margin-top: 0;
}

.field > br + input, .field > .field + input, .field > p {
	margin-left: 300px;
}

.field > .field > label:not(.inline) {
	margin-left: -200px;
	width: 400px;
}

.field > .field, .field > .field > br + input, .field > .field > .field + input, .field > .field > p {
	margin-left: 200px;
}

.field > .field > .field {
	margin-left: 100px;
}

.field.thin > label:not(.inline) {
	float: left;
	width: 50px;
	text-align: right;
	font-weight: bold;
	margin-left: 0;
	padding-right: 0.5rem;
	word-wrap: break-word;
}

.field.thin > .field, .field.thin > br + input, .field.thin > .field + input, .field.thin > p {
	margin-left: 50px;
}

.field > p {
	font-style: italic;
}

.inactive .empty, .inactive .empty + br {
	display: none;
}

.field.thin > .field {
	clear: none;
}

.field.thin + br {
	display: none;
}

svg {
	width: 100%;
	max-height: 100%;
}

svg a {
	fill: inherit;
}

svg g {
	fill: #555;
}

svg g.active {
	fill: #000;
}

svg text {
	font-size: 0.75px;
	fill: #222;
}

svg .layout > g.active {
	fill: #aaa;
}

svg .layout > g.active.inv {
	fill: #222;
}

svg .layout > g.active.inv text {
	fill: #aaa;
}

svg g:not(.active) > .layout {
	display: none;
}

svg .entrance {
	fill: rgba(200, 200, 255, 0.5);
}

.container .field > label:not(.inline) {
	max-width: 150px;
}

.container .field > br + input, .container .field > .field + input, .container .field > p {
	margin-left: 150px;
}
